body {
    font-family: "Poppins", sans-serif;
    background-color: #2b1e17;
}

.navbar {
    background-color: #2b1e17 !important;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: inset 0 0 0;
}

.navbar-brand {
    color: #d8c18a;
}

.navbar-nav a {
    margin-left: 2.5em;
}

.hero .container .row {
    position: relative;
}

.hero .container .upside p {
    color: #94886d;
    font-weight: 400;
    line-height: 1.25em;
}

.hero .container .row .left {
    margin-top: 50vh;
}

.hero .container .row .right {
    margin-top: 28vh;
    position: inherit;
}

.hero .container .row .right img {
    width: 110%;
    position: relative;
    filter: grayscale(0.3);
}

.hero .container .row .right:after {
    content: "";
    background-color: #d8c18a;
    position: absolute;
    top: 3.5em;
    bottom: 1em;
    right: 5em;
    left: 16.5em;
    border-radius: 50%;
    z-index: -10;
}

.hero .upside h4 {
    color: #d8c18a;
}

.my-button {
    /* background-color: #d8c18a; */
    background-color: #e4c988;
    color: #2b1e17;
    font-weight: 500;
    border-radius: 2em;
}

.my-button:hover {
    background-color: #96855e;
    color: white;
}

.my-button:active {
    background-color: #96855e !important;
    color: white !important;
    border-color: #96855e !important;
}

.my-button-outline {
    color: #e4c988;
    border: 2px solid #e4c988;
    font-weight: 500;
    border-radius: 2em;
}

.my-button-outline:hover {
    background-color: #e4c988;
    color: #2b1e17;
}

.my-button-outline-secondary {
    border: 2px solid #2b1e17;
    color: #2b1e17;
}

.my-button-outline-secondary:hover {
    border: 2px solid #2b1e17;
    background-color: #2b1e17;
    color: white;
}

.my-button-outline-secondary:active {
    border: 2px solid #443128 !important;
    background-color: #443128 !important;
    color: white !important;
}

.my-button-secondary {
    color: white;
    background-color: #2b1e17;
    font-weight: 500;
    border-radius: 2em;
}

.my-button-secondary:hover {
    background-color: #443128;
    color: white;
}

.my-button-secondary:active {
    color: white !important;
    background-color: #2b1e17 !important;
    border-color: #2b1e17 !important;
}

.downside {
    color: #94886d;
    padding-top: 5em;
    padding-bottom: 6em;
}

.downside p {
    font-weight: 500;
}

.downside .social-media a {
    color: #d8c18a;
    text-decoration: none;
    font-size: 2.3em;
    margin-right: 0.6em;
}

.portfolio {
    background-color: #2f291b;
    color: #94886d;
    font-weight: 500;
    padding: 6em 0;
}

.portfolio a {
    text-decoration: none;
}

.portfolio a:hover h5 {
    color: white;
}

.portfolio p {
    color: #94886d;
}

.portfolio h4 {
    color: #d8c18a;
}

.portfolio h3,
.portfolio h5 {
    color: white;
}

.portfolio .w-100 {
    /* height: 16.15em; */
    border-radius: 10px;
    position: relative;
}

.portfolio .w-100 img {
    border-radius: 10px;
    display: block;
}

.portfolio .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #d8c18a;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-radius: 10px;
    transition: 0.5s ease;
}

.portfolio a:hover .overlay {
    bottom: 0;
    height: 100%;
}

.portfolio .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tech {
    padding: 9em 0;
    background-color: #ebe2cc;
    font-weight: 500;
}

.tech h4 {
    color: black;
}

.tech h3 {
    color: #2f291b;
    font-weight: 600;
}

.tech p {
    color: #94886d;
}

.stack-container .nav-item a {
    color: #2b1e17;
    border-radius: 7px;
}

.stack-container .nav-item a.active {
    color: white;
    font-weight: 500;
    background-color: #2b1e17;
}

.tech-heading::after {
    content: '';
    display: block;
    width: 80px;
    border: 1px solid #2b1e17;
    border-radius: 15px;
    margin: 8px auto;
}

.sub-heading::after {
    content: '';
    display: block;
    width: 40px;
    border: 1px solid #2b1e17;
    border-radius: 15px;
    margin-top: 4px;
}

.blogs {
    padding: 6em 0;
    color: #94886d;
    font-weight: 500;
}

.blogs h4 {
    color: #d8c18a;
}

.blogs h3 {
    color: white;
}

.blogs .card .card-img-top {
    background-color: #d8c18a;
    height: 15em;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.blogs .card {
    background-color: #2f291b;
    border-radius: 15px;
    padding-bottom: 3em;
}

.blogs .card h5 {
    color: white;
}

.blogs .card p {
    color: #94886d;
    line-height: 1.25em;
}

.blogs .card .my-button {
    border-radius: 0 2em 2em 0;
    position: absolute;
    left: 0;
}

.contact {
    padding: 6em 0;
    font-weight: 500;
    background-color: #2f291b;
    color: #d8c18a;
}

.contact h3 {
    color: white;
}

.contact p {
    color: #94886d;
}

.contact .form-control {
    background-color: #ebe2cc;
    color: #6b624c;
}

.contact .form-control:focus {
    border: 1px solid #d8c18a;
    box-shadow: inset 0 0 0;
}

.footer {
    padding-top: 6em;
    font-weight: 500;
    color: #94886d;
}

.footer h2,
.footer h4 {
    color: white;
}

.footer .row a:hover {
    color: #e4c988;
}

.footer .social-media a {
    color: #94886d;
    text-decoration: none;
    font-size: 2.3em;
    margin-right: 0.6em;
}

.whatsapp {
    text-decoration: none;
    color: #d8c18a;
}

.whatsapp:hover {
    color: #96855e;
}

.social-media a:hover {
    color: #96855e;
}

.modal-content {
    font-size: .9rem;
    padding: .7em .75em;
}

.modal .modal-footer .btn {
    font-size: .9rem !important;
    padding: 7px 15px;
}

.modal-title a {
    color: black;
    text-decoration: none;
}

.modal-title a:hover {
    color: rgb(18, 121, 206);
    text-decoration: underline;
}

.modal-header,
.modal-footer {
    margin: 0;
    border: 0;
}

.modal-header {
    padding-bottom: 0;
}

.modal-footer {
    padding-top: 0;
}

@media (max-width: 1199px) {
    .hero .container .row .right:after {
        left: 14em;
    }
}

@media (max-width: 976px) {
    .navbar-nav a {
        margin-left: 0;
    }

    .offcanvas li a {
        color: black;
    }

    .offcanvas {
        background-color: #d8c18a;
    }

    .hero .container .upside {
        min-height: 50vh;
    }

    .hero .container .row .left {
        margin-top: 20vh;
        text-align: center;
    }

    .hero .container .row .left p {
        padding: 0 5em;
    }

    .hero .container .right {
        display: none;
    }

    .offcanvas {
        max-width: 65%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 85%;
    }

    .container {
        padding: 0 2em;
    }
}
